/*
	Header.css - stylesheet or all header-oriented styles
*/

#ticker
{
	background: #333;
	color: #999;
	font: 1.2em 'Raleway', sans-serif;
	line-height: 30px;
	margin-bottom: 5px;
	overflow: hidden;
	text-align: center;
	height: 30px;
	width: 100%;
}

/*.tickerModule*/
/*{*/
	/*margin: 0 5px;*/
/*}*/

/*.tickerModule:first-of-type*/
/*{*/
	/*float: left;*/
/*}*/

/*.tickerModule:nth-of-type(2)*/
/*{*/
	/*float: right;*/
/*}*/

header
{
	height: 80px;
}

header h1, header p
{
	display: inline;
}

div#logo
{
	float: left;
	width: 300px;
}

/* HEADINGS */
div#logo h1
{
	font: 2.5em 'Quicksand', sans-serif;
	line-height: 80px;
}

/* IMGS */
div#logo img
{
	vertical-align: super;
}

/* TEXT */
header p
{
	float: right;
	margin: 0 15px;
}