/*
	Base.css - stylesheet for all base-tag-oriented or widely-used styles
*/

html, body, div#container
{
	height: 100%;
}

body
{
	background: #E8E8E8;
	font: 15px 'Open Sans', sans-serif;
}

/* DIVS */
#container
{
	margin: 0 auto;
	width: 98%;
}

#vars
{
    /* CONTAINS VALUES USED BY JS
        SHOULD REMAIN HIDDEN AT ALL TIMES */
    display: none;
}

/* TEXT */
.accent
{
	color: #CC2014;
}

.statusMsg
{
	margin: 15px;
}

/* LINKS */
a:link,a:visited
{
	color: #CC2014;
	padding: 3px;
	text-decoration: none;
}

a:hover
{
	border-bottom: 2px solid;
}

a:active
{
	background: #CC2014;
	color: #333;
}