/*
	Content.css - stylesheet or all content-oriented styles
*/

/* SECTIONS & DIVS */
#content
{
	clear: both;
	/*height: 95%;*/
}

#text
{
	border: 2px solid #000;
    height: 100%;
	overflow: hidden;
	position: relative;
}

#textUploadButton
{
	background: #333333;
	border-bottom: 2px solid #000;
	color: #D1463D;
	cursor: pointer;
	font: 2em 'Raleway', sans-serif;
	height: 100px;
	opacity: .85;
	padding: 20px 0;
	text-align: center;
}

#textContainer
{
    position: relative;
}

#mainText, #pastePlaintext
{
	border: none;
	box-sizing:border-box;
	outline: 0;
	padding: 20px 10px;
    width: 100%;
}

#mainText
{
    height: 600px;
}

#textHtml
{
    height: 400px;
    overflow: auto;
    padding: 10px 15px;
    width: auto;
}

#textMetadata, #plaintextHeading
{
    background: #C7C7C7;
}

#textMetadata
{
    padding: 20px;
}

#plaintextHeading
{
    padding: 15px;
}

#pastePlaintext
{
    height: 200px;
}

/* IMGS */
#textUploadButton img
{
	margin: 0 15px;
	vertical-align: middle;
}

/* TEXT */
#textMetadata h2, #plaintextHeading h3
{
    color: #D1463D;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 2px;
}

#textMetadata h2
{
    font-size: 48px;
    margin: 0 0 15px;
}

#textMetadata .metadataCells
{
    background: #999;
    border: 2px dashed #D1463D;
    font: 12px 'Open Sans', sans-serif;
    margin: 0 5px 0 0;
    padding: 5px;
}

#textMetadata .metadataCells, #textMetadata .metadataCells p
{
    display: inline;
}

#textMetadata .metadataCells p:first-child
{
    /* metadata key */
    font-weight: bolder;
}

#plaintextHeading h3
{
    font-size: 18px;
}

/* OTHER */
#textUploadButton hr
{
	/*background: #881A14;*/
	background: #E84B43;
	border: none;
	height: 3px;
	width: 30%;
}