/*
	Content.css - stylesheet or all content-oriented styles
*/

/* SECTIONS & DIVS */
#content
{
    /* make sure main content stays below floated header content */
	clear: both;
}

#mainTextWorkspace
{
    /* main text workspace, both for displaying and uploading text */
	border: 2px solid #000;
    height: 100%;
	overflow: hidden;
	position: relative;
}

#newPasteTextUploadButton
{
	background: #333333;
	border-bottom: 2px solid #000;
	color: #D1463D;
	cursor: pointer;
	font: 2em 'Raleway', sans-serif;
	height: 100px;
	opacity: .85;
	padding: 20px 0;
	text-align: center;
}

#newPasteText, #pastePlaintext
{
    /* encompases both textareas for typing in new text (#mainText) and displaying the plaintext in an easily editable form (#pastePlaintext) */
	border: none;
	box-sizing:border-box;
	outline: 0;
	padding: 20px 10px;
    width: 100%;
}

#newPasteText
{
    height: 600px;
}

#pasteTextHtmlHeading, #pastePlaintextHeading
{
    /* both the headings for the html text and plaintext will use similar styles */
    background: #C7C7C7;
}

#pasteTextHtmlHeading
{
    padding: 20px;
}

#pasteTextHtml
{
    /* styles for the html representation of an uploaded text */
    min-height: 400px;
    padding: 10px 15px;
    width: auto;
}

#pastePlaintextHeading
{
    padding: 15px;
}

#pastePlaintext
{
    height: 200px;
}

/* IMGS */
#newPasteTextUploadButton img
{
	margin: 0 15px;
	vertical-align: middle;
}

/* TEXT */
/* HEADINGS */
/* headings for both the html and plain text of a paste */
#pasteTextHtmlHeading h2, #pastePlaintextHeading h3
{
    color: #D1463D;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 2px;
}

#pasteTextHtmlHeading h2
{
    font-size: 48px;
    margin: 0 0 15px;
}

#pastePlaintextHeading h3
{
    font-size: 18px;
}

/* styles for metadata elements (i.e. creation time, last modified time, etc) */
#pasteTextHtmlHeading .metadataCells
{
    background: #999;
    border: 2px dashed #D1463D;
    font: 12px 'Open Sans', sans-serif;
    margin: 0 5px 0 0;
    padding: 5px;
}

#pasteTextHtmlHeading .metadataCells, #pasteTextHtmlHeading .metadataCells p
{
    display: inline;
}

#pasteTextHtmlHeading .metadataCells p:first-child
{
    /* metadata key */
    font-weight: bolder;
}

/* OTHER */
#newPasteTextUploadButton hr
{
	background: #E84B43;
	border: none;
	height: 3px;
	width: 30%;
}