/*
	Header.css - stylesheet or all header-oriented styles
*/

#ticker
{
    /* styles for info ticket at the top of the page */
	background: #333;
	color: #999;
	font: 16px 'Raleway', sans-serif;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
	height: 30px;
	width: 100%;
}

#errorMsgWrapper
{
    /* Needed so that #errorMsg can be absolute positioned, but still horizontally centered and use percentage widths for responsive design */
    position: absolute;
    width: 100%;
}

#errorMsg
{
    /* error message box that displays errors to the user */
    background: #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #911002;
    display: none;
    font: 20px 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 35%;
}

/* styles for header text and content (e.g. title, logo, subtitle, etc) */
header h1, header p
{
	display: inline;
}

#logo
{
	float: left;
	width: 300px;
}

/* HEADINGS */
#logo h1
{
	font: 2.5em 'Quicksand', sans-serif;
	line-height: 80px;
}

/* IMGS */
#logo img
{
	vertical-align: super;
}

/* TEXT */
#ticker p
{
    /* any messages displaying in the ticket should use this style */
    color: #CC2014;
    display: inline;
}

header p
{
	float: right;
    font: italic 1.2em 'Quicksand', sans-serif;
	margin: 50px 15px 0;
}

/* LINKS */
/* logo link cannot have bottom border or styles when actively clicked like default links do */
#logo a:hover, #logo a:active
{
    border: none;
    background: none;
}