/*
	Header.css - stylesheet or all header-oriented styles
*/

#ticker
{
	background: #333;
	color: #999;
	font: 16px 'Raleway', sans-serif;
	line-height: 30px;
	/*margin-bottom: 5px;*/
	overflow: hidden;
	text-align: center;
	height: 30px;
	width: 100%;
}

#errorMsgWrapper
{
    /* Needed so that #errorMsg can be absolute positioned, but still horizontally centered and use percentage widths for responsive design */
    position: absolute;
    width: 100%;
}

#errorMsg
{
    background: #999999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #911002;
    display: none;
    font: 20px 'Roboto Condensed', sans-serif;
    /*height: 40px;*/
    /*margin-left: -300px; *//* always needs to be set to half the width to have div remain horizontally centered */
    margin: 0 auto;
    padding: 5px 10px;
    /*position: absolute;*/
    /*left: 50%;*/
    text-align: center;
    /*width: 600px;*/
    width: 40%;
}

/*.tickerModule*/
/*{*/
	/*margin: 0 5px;*/
/*}*/

/*.tickerModule:first-of-type*/
/*{*/
	/*float: left;*/
/*}*/

/*.tickerModule:nth-of-type(2)*/
/*{*/
	/*float: right;*/
/*}*/

header
{
	/*height: 80px;*/
}

header h1, header p
{
	display: inline;
}

#logo
{
	float: left;
	width: 300px;
}

/* HEADINGS */
#logo h1
{
	font: 2.5em 'Quicksand', sans-serif;
	line-height: 80px;
}

/* IMGS */
#logo img
{
	vertical-align: super;
}

/* TEXT */
header p
{
	float: right;
    font: italic 1.2em 'Quicksand', sans-serif;
	margin: 50px 15px 0;
}

/* LINKS */
#logo a:hover, #logo a:active
{
    border: none;
    background: none;
}